

    <h1 class="name">{{name}}</h1>
    <div class="dive">
<ul class="list">
    <li class="list-item"><b>Capital:</b> {{capital}}</li>
    <li class="list-item"><b>Population:</b> {{population}}</li>
    <li class="list-item"><b>Languages:</b> </li>
    <ul>
        {{#each languages}}
        <li>{{name}}</li>
        {{/each}}
    </ul>
</ul>
<img src={{flag}} alt={{name}} width="300" />
    </div>
  
